<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1CmldiivQth-uNehAg-2QDooZHB3mEdU</string>
	<key>GCM_SENDER_ID</key>
	<string>691959809611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.githubTmdb</string>
	<key>PROJECT_ID</key>
	<string>for-exercise</string>
	<key>STORAGE_BUCKET</key>
	<string>for-exercise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691959809611:ios:58461b986a4b6ce9732fce</string>
	<key>DATABASE_URL</key>
	<string>https://for-exercise-default-rtdb.firebaseio.com</string>
</dict>
</plist>